@font-face {
  font-family: "Basetica";
  src: url("../assets/fonts/basetica-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Fontello";
  src: url("../assets/fonts/fontello.eot");
  src: url("../assets/fonts/fontello.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/fontello.woff") format("woff"),
    url("../assets/fonts/fontello.woff2") format("woff2"),
    url("../assets/fonts/fontello.ttf") format("truetype"),
    url("../assets/fonts/fontello.svg") format("svg");
  font-style: normal;
  font-weight: 400;
}
