@import "./fonts";
@import "./variables";


//Hover and Active States
  .level-zero-container {
    .level-one-list {
      @media screen and (min-width: 1024px) {
        display: none;
      }
      .level-one-container {
        .level-two-list {
          @media screen and (min-width: 1024px) {
            display: none;
          }
        }
      }
    }

    &:hover {
      .level-one-list {
        @media screen and (min-width: 1024px) {
          display: block;
        }

        .level-one-container:first-child {
          .level-two-list {
            @media screen and (min-width: 1024px) {
              display: block;
            }
          }
        }

        &:hover { 
          .level-one-container {
            .level-two-list {
              @media screen and (min-width: 1024px) {
                display: none;
              }
            }
          }
        }

        .level-one-container{
          &:hover{
            .level-two-list {
              @media screen and (min-width: 1024px) {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  //test styling
  .level-one-list {
    display: none;
  }

  .nav-item__list .level-zero-container:first-child .level-one-list {
    display: block;
    .level-two-list {
      display: none;
    }
  }


